@model IEnumerable<istanfind.Models.Shop>
@using istanfind.Resources
@inject LocService SharedLocalizer
@{
	ViewData["Title"] = "Index";
}
<div class="col-md-6">

    <h1 class="header-main">@SharedLocalizer.GetLocalizedHtmlString("alisveris") <a class="text-center all-link">TÜMÜ</a></h1>
</div>
    <hr />

    <p>
        <a class="btn btn-secondary" style="margin:16px;" asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("ekle")</a>
    </p>

    <div class="main-list">
        <div class="row text-center">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="@Url.Content(item.ImageUrl)" alt="">
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.TitleText)</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("dahafazlasi")</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("sil")</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


