@model istanfind.Controllers.ManageUsersViewModel
@using istanfind.Resources
@inject LocService SharedLocalizer
@{ ViewData["Title"] = "Manage users"; }

<h2>@SharedLocalizer.GetLocalizedHtmlString("kullaniciyonet")</h2>
<hr />

<h3>@SharedLocalizer.GetLocalizedHtmlString("adminler")</h3>

<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Email</td>
		</tr>
	</thead>

	@foreach (var user in Model.Administrators)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Email</td>
		</tr>
}
</table>

<h3>@SharedLocalizer.GetLocalizedHtmlString("herkes")</h3>

<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Email</td>
		</tr>
	</thead>

	@foreach (var user in Model.Everyone)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.Email</td>
		</tr>
}
</table>