@using istanfind.Resources
@inject LocService SharedLocalizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOps


@{



    var supportedCultures = LocOps.Value.SupportedUICultures

        .Select(c => new SelectListItem
        {
            Value = $"{c.Name}",
            Text = $"{c.DisplayName}"
        }).ToList();
    var routeData = new Dictionary<string, string>();
    foreach (var r in ViewContext.RouteData.Values)
    {
        routeData.Add(r.Key, r.Value.ToString());
    }

    foreach (var qs in Context.Request.Query)
    {
        routeData.Add(qs.Key, qs.Value);
    }

}
@if (ViewData["Title"].ToString() == "İstanfind.")
{
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-controller="Home" asp-action="Index">İstanFind<span>.</span></a></h1>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-controller="Home" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("anasayfa")</a></li>
                    <li class="active"><a href="#" onclick="ShowAbout(); return false;">@SharedLocalizer.GetLocalizedHtmlString("kesfet")</a></li>
                    <li class="active"><a href="#" onclick="ShowTeam(); return false;">@SharedLocalizer.GetLocalizedHtmlString("takim")</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diller</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var culture in supportedCultures)
                            {

                                // replace {culture} value with the one from the list
                                routeData["culture"] = culture.Value;

                                <a class="dropdown-item small bg-dark bg-danger" asp-all-route-data="@routeData">
                                    @culture.Text
                                </a>

                            }
                            @*<a class="dropdown-item bg-dark" asp-all-route-data="@routeData">TR</a>
                                <a class="dropdown-item bg-dark" asp-all-route-data="@routeData">EN</a>*@
                        </div>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
            <nav class="nav-menu d-none d-lg-block">


                <partial name="_LoginPartial" />
            </nav>
        </div>
    </header><!-- End Header -->

}
else
{
    <header id="headerBlack">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-controller="Home" asp-action="Index">İstanFind<span>.</span></a></h1>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-controller="Home" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("anasayfa")</a></li>
                    <li class="active"><a href="#" onclick="ShowAbout(); return false;">@SharedLocalizer.GetLocalizedHtmlString("kesfet")</a></li>
                    <li class="active"><a href="#" onclick="ShowTeam(); return false;">@SharedLocalizer.GetLocalizedHtmlString("takim")</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diller</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var culture in supportedCultures)
                            {

                                // replace {culture} value with the one from the list
                                routeData["culture"] = culture.Value;

                                <a class="dropdown-item small bg-dark bg-danger" asp-all-route-data="@routeData">
                                    @culture.Text
                                </a>

                            }
                            @*<a class="dropdown-item bg-dark" asp-all-route-data="@routeData">TR</a>
                                <a class="dropdown-item bg-dark" asp-all-route-data="@routeData">EN</a>*@
                        </div>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
            <nav class="nav-menu d-none d-lg-block">

                <partial name="_LoginPartial" />

            </nav>
        </div>
    </header><!-- End Header -->
}