@model istanfind.Models.Hotel
@using istanfind.Resources
@inject LocService SharedLocalizer
@{
	ViewData["Title"] = "Delete";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("sil")</h1>

<h3>@SharedLocalizer.GetLocalizedHtmlString("silecekmisin")</h3>
<div>
	<h4>@SharedLocalizer.GetLocalizedHtmlString("oteller")</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.WebSiteUrl)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.WebSiteUrl)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Adress)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Adress)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.AdressUrl)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.AdressUrl)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Score)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Score)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataText)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataText)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TitleText)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TitleText)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ImageUrl)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ImageUrl)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("listeyedon")</a>
	</form>
</div>
